@import '../newui/variables.scss';

.post-full-view {
	padding: 40px;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	font-family: $primFont;
	color: #333;

	.post-header {
		margin-bottom: 30px;
	}

	.post-title {
		margin-bottom: 10px;
	}

	.post-author {
		font-style: italic;
		margin-bottom: 20px;
	}

	.post-content {
		flex-grow: 1;
	}

	.post-body {
		margin-bottom: 30px;
	}

	.post-interactions {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.upvote-button,
		.delete-button {
			background: #e0e0e0;
			border: none;
			padding: 10px 20px;
			border-radius: 10px;
			box-shadow: $insetShadow;
			color: $sideNavicon;
			cursor: pointer;
			margin-right: 15px;
			transition: background-color 0.3s ease, color 0.3s ease;

			&:hover {
				background: lighten($sideNavicon, 40%);
				color: #fff;
			}
		}
	}

	.post-meta {
		display: flex;
		justify-content: space-between;
	}

	.comments-section {
		margin-top: 40px;
		color: #333;
		// Additional styles for comments
	}
}
.toggle-box {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;

	// Hide the default checkbox
	input[type='checkbox'] {
		opacity: 0;
		width: 0;
		height: 0;
	}

	// Custom toggle styles
	.toggle-label {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		transition: 0.4s;
		border-radius: 34px;

		&:before {
			position: absolute;
			content: '';
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			transition: 0.4s;
			border-radius: 50%;
		}
	}

	input:checked + .toggle-label {
		background-color: #2196f3;
	}

	input:focus + .toggle-label {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked + .toggle-label:before {
		transform: translateX(26px);
	}
}
