@import '../../newui/variables.scss';

.new-post {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100vh;
	font-family: $primFont;

	.create-post {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;

		.form-wrap {
			display: flex;
			flex-direction: column;

			form {
				display: flex;
				flex-direction: column;
				gap: 3em;
				padding: 2em;
				margin: 1em;
				width: 40vw;
				font-family: $primFont;

				input {
					border: none;
					background: $background;
					box-shadow: $shadow;
					padding: 0.4em;
					font-size: 1.2em;
					border-radius: 8px;
					width: 100%;
				}

				textarea {
					border: none;
					background: $background;
					box-shadow: $shadow;
					height: 10em;
					font-size: 1em;
					padding: 0.4em;
					border-radius: 8px;
					font-family: $primFont;
					width: 100%;
				}

				button {
					border: none;
					box-shadow: $shadow;
					background: $background;
					padding: 1em;
					border-radius: 12px;
					font-size: 1.2em;
					width: 100%;
				}
			}
		}
	}

	.all-posts {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1em;
		width: 90%;
		height: 90%;
		background: $background;
		box-shadow: $shadow;
		overflow-x: auto;
		padding: 1em;
		margin: 2em;
		border-radius: 12px;

		.all-posts-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			gap: 1em;
		}

		h3 {
			text-align: center;
			width: 100%;
		}

		.all-posts-post {
			width: 100%;
		}
	}
}
.search-field {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;

	input[type='text'] {
		flex: 1;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 8px;
	}

	.search-btn,
	.clearsearch-btn {
		padding: 0.5em 1.3em;
		border: none;
		border-radius: 4px;
		background-color: $background;
		color: black;
		box-shadow: $shadow;
		cursor: pointer;

		&:hover {
			background-color: #0056b3;
		}
	}
}
