@import url(../../index.css);

.Planned {
    color: var(--clr-planned);
}

.Review {
    color: var(--clr-review);
}

.Progress {
    color: var(--clr-progress);
}

.Done {
    color: var(--clr-done);
}