.filter-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
   
}

@import url(../../index.css);

.body {
    font-family: var(--prim-font);
}

.filter {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    width: 50%;

    & div {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: .5em;
    }
}

select {
    border: .5px solid var(--info);
    border-radius: 5px;
    padding: 2px;
    background-color: #f2f3f7;
}

