.mr-container {
	min-height: 100vh;
}

.double-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.mr-boxes {
	display: flex;

	& .feature-container {
		width: 60cqh;
	}

	& h3 {
		border-color: #00a1a1;
	}
}
