/* @import url(../../index.css); */

/* li skal fixes somewhere */

li {
	&:hover {
		background: #ffffff00;
	}
}

.roadmap-container {
	height: 100vh;
	display: flex;
}

.roadmap-nav {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	padding: 2em 0;
	height: 100%;

	width: 15em;
}

.roadmap-nav-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	text-align: center;
	gap: 2em;

	.roadmap-nav-menu-item {
		padding: 1em 0;
		box-shadow: 3px 3px 5px 2px #2727273c;
		width: 100%;
		border-radius: 8px;

		&:hover {
			background: rgb(94, 220, 94);
		}
	}
}

.roadmap-mainside {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	margin: 2em 4em;
	padding: 1em;
	box-shadow: 2px 2px 7px 4px #27272729;
	border-radius: 8px;
	height: 100%;

	& h2 {
		color: #272727;
	}

	& hr {
		width: 80%;
		text-align: center;
	}
}

.roadmap-container {
	& a {
		text-decoration: none;
		font-size: medium;
		color: #272727;

		& a:hover {
			color: blue;
		}
	}
	.active {
		background: rgb(94, 220, 94);
		text-decoration: none;
		color: #f2f3f7;
	}
}

.hr-active {
	border: 2px solid #272727;
}
