/* @import url(../../index.css); */

/* li skal fixes somewhere */

li {
	&:hover {
		background: #ffffff00;
	}
}

.roadmap-container {
	min-height: 100vh;
	display: flex;
}

.roadmap-nav {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	padding: 2em 0;
	height: 100vh;
	box-shadow: 3px 0 6px #27272729;
	width: 15em;
}

.roadmap-nav-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	text-align: center;
	gap: 2em;

	.roadmap-nav-menu-item {
		padding: 2em 0;
		box-shadow: 3px 3px 5px 2px #2727273c;
		width: 100%;
		border-radius: 8px;

		&:hover {
			background: rgb(112, 209, 112);
		}
	}
}

.roadmap-mainside {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 2em 4em;
	box-shadow: 2px 2px 7px 4px #27272729;
	border-radius: 8px;
	padding: 1em;
	max-height: 90vh;
	overflow: auto;
}

.roadmap-container {
	& a {
		text-decoration: none;
	}
	.active {
		background: rgb(112, 209, 112);
		text-decoration: none;
	}
}
