@import '../../newui/variables.scss';

.comment-form-container {
	font-family: $primFont;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 1em;

		textarea {
			border: none;
			background: $background;
			box-shadow: $shadow;
			height: 10em;
			width: 400px;
			border-radius: 10px;
			padding: 1em;
		}

		button {
			border: none;
			background: $background;
			box-shadow: $shadow;
			padding: 1em;
			border-radius: 8px;
		}
	}
}
